// Custom styles.
@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Extended+Text');

.headband {
	position:fixed;
	top:0;
	width:100%;
	z-index:9;
}
.brand {
	background:0;
	color:#000;
	&:hover {
		color:#000;
	}
}
.site-title {
	font-family:'Libre Barcode 39 Extended Text', cursive;
	font-size:30px;
	line-height:52px;
}
